.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 10px;
}

.input-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.info-display {
    margin-bottom: 20px;
}

.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.add-button:hover {
    background-color: #0056b3;
}

.name-list {
    padding: 0;
    list-style-type: none;
}

.name-list li {
    margin-bottom: 5px;
    font-size: 16px;
    /* Liste elemanlarına bir başlık ekleyin */
    position: relative;
    padding-left: 20px; /* Başlığın solunda boşluk bırakın */
}

.name-list li:before {
    content: "•"; /* Başlık için özel bir simge */
    position: absolute;
    left: 0;
    color: #007bff; /* Başlık rengi */
}
